* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Roboto", serif;
  margin: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 12px 0; /* inner */
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

/* style for navigation menu */
nav ul {
  list-style: none; /* markers */
  margin: 0 40px;
  padding: 0;
  text-align: right;
}

nav ul li {
  display: inline-block; /* horisontal elements */
  margin-right: 20px; /* space between elements */
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none; /* no underline */
  color: #fff;
  font-weight: 800;
  font-size: 16px;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;

  font-family: Roboto;
  font-weight: 800;
  font-style: normal;
  font-size: 32px;
  text-align: left;
  color: #0f0f0f;
}
h2 {
  margin-top: 0;
  margin-bottom: 0;

  font-family: Roboto;
  font-size: 20px;
  text-align: left;
  color: #0f0f0f;
}

a {
  color: #0f0f0f;
  font-family: Roboto;
  font-size: 16px;
}
a:hover {
  color: rgb(156, 155, 200);
}
p {
  color: #0f0f0f;
  font-family: Roboto;
  font-size: 16px;
  text-align: left;
}
.text-and-image {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 120px 0px 0px 60px;
}
.linksblock {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
.linksblock > .lastlink {
  margin-block-end: 0em;
}

img {
  max-width: 20%;
  min-width: 200px;
  height: auto;
  object-fit: scale-down;
}

.img-subtitle {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 10px;
}

.maintitle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 60px;
  margin-left: 60px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 28px;
  margin-bottom: 120px;
}

.gallery img {
  margin: 10px;
  max-width: 300px;
  height: auto;
  transition: transform 0.2s;
}
.gallery img:hover {
  transform: scale(1.5);
}
.portfolio-title {
  text-align: center;
  font-family: Roboto;
  font-weight: 800;
  font-style: normal;
  font-size: 24px;
  margin-top: 60px;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: right;
  padding: 10px 40px; /* inner*/
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

footer p {
  color: #fff;
  margin: 0;
  font-size: 16px;
  font-weight: 800;
  font-family: Roboto;
  font-style: normal;
}

.about-text {
  margin-left: 60px;
  margin-bottom: 60px;
  justify-content: space-between;
}

.about {
  margin-top: 120px;
  margin-left: 60px;
  display: flex;
  width: 50%;
}

article.project {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  min-width: 250px;
}

article.project > .img-container {
  display: flex;
  justify-content: stretch;
}

.img-container > div {
  margin: 1em;
  flex: 1;
}

article.project > .tail-container {
  padding: 0em 1em 0em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-container > div > img {
  /*margin: 0 1em 1em 0;*/
  max-width: 100%;
}

h1.project {
  margin-top: 60px;
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .text-and-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 120px 0px 0px 60px;
  }
  img {
    max-width: 40%;
    height: 300px;
    object-fit: scale-down;
  }
  .maintitle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 60px;
    margin-left: 0px;
  }
  .about-text {
    margin-left: 0px;
    justify-content: space-between;
    max-width: 700px;
  }
  .about {
    margin: 120px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  article.project {
    min-width: initial;
    max-width: initial;
    margin: 0 1em 0 1em;
  }

  article.project > .img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  article.project video {
    width: 200px;
  }
}
